
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  height: 100%;
}
#page-wrapper {
  min-height: 100%;
  min-width: 960px;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 950px;
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
}
#right-side{
	float: left; 
	width: 710px;
	margin-left: 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
  width: 100%;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
#content-full-width,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
#sidebar-second{
	margin-left: 10px;
}
.one-sidebar #content {
  width: 720px;
}
.two-sidebars #content {
  width: 470px;
}
.no-sidebars #content {
  width: 960px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 230px;
}
#content-full-width{
	width: 710px;
}
#main-wrapper {
  min-height: 300px;
}
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  width: 310px;
}
.region-triptych-middle,
.region-triptych-last {
  margin-left: 10px;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  width: 230px;
}
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
	margin-left: 10px;
}
#footer {
  width: 940px;
  min-width: 920px;
}
.region-footer .block-region{
	margin: 0 !important;
}
